<div class="row">
  <div class="col-md-8">
    <h2>User</h2>
    <p>Name: <%= @user.name if @user.name %></p>
    <p>Email: <%= @user.email if @user.email %></p>
  </div>
</div>
  
<%= render partial: 'items/form', locals: {item: @item} %>

<div class="row">
  <h4><div class="row header">
    <div class="col-md-6">To Do</div>
  </div></h4>
</div>

<%= render partial: 'items/item', collection: @items %>




