<% if item.persisted? %>
  <%= content_tag :tr, id: "item-#{item.id}" do %>
        <td><%= item.name %></td>
        <td><%= item.days_left %> days left</td>
        <td><%= link_to "", [current_user, item], method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %></td> 
  <% end %>
<% end %>

