<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>
  <div class="col-md-6">
      <%= item.name %>
      <%= link_to "", [current_user, item], method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
  </div>
<% end %>

